<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.A.salt</key>
    <array>
      <string>A.salt</string>
      <string>Aacute.salt</string>
      <string>Abreve.salt</string>
      <string>Acircumflex.salt</string>
      <string>Adieresis.salt</string>
      <string>Agrave.salt</string>
      <string>Amacron.salt</string>
      <string>Aogonek.salt</string>
      <string>Aring.salt</string>
      <string>Atilde.salt</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.B.salt</key>
    <array>
      <string>B.salt</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.C.salt</key>
    <array>
      <string>C.salt</string>
      <string>Cacute.salt</string>
      <string>Ccaron.salt</string>
      <string>Ccedilla.salt</string>
      <string>Cdotaccent.salt</string>
    </array>
    <key>public.kern1.Delta</key>
    <array>
      <string>Delta</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>OE</string>
    </array>
    <key>public.kern1.E.salt</key>
    <array>
      <string>AE.salt</string>
      <string>E.salt</string>
      <string>Eacute.salt</string>
      <string>Ecaron.salt</string>
      <string>Ecircumflex.salt</string>
      <string>Edieresis.salt</string>
      <string>Edotaccent.salt</string>
      <string>Egrave.salt</string>
      <string>Emacron.salt</string>
      <string>Eogonek.salt</string>
      <string>OE.salt</string>
      <string>AE.salt.alt1</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.F.salt</key>
    <array>
      <string>F.salt</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.G.salt</key>
    <array>
      <string>G.salt</string>
      <string>Gbreve.salt</string>
      <string>Gcommaaccent.salt</string>
      <string>Gdotaccent.salt</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>H.salt</string>
      <string>Hbar.salt</string>
      <string>I.salt</string>
      <string>I.ss01</string>
      <string>Iacute.salt</string>
      <string>Icircumflex.salt</string>
      <string>Idieresis.salt</string>
      <string>Idotaccent.salt</string>
      <string>Igrave.salt</string>
      <string>Imacron.salt</string>
      <string>Iogonek.salt</string>
      <string>fi.ss02</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>IJ</string>
      <string>J</string>
    </array>
    <key>public.kern1.J.salt</key>
    <array>
      <string>IJ.salt</string>
      <string>J.salt</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.K.salt</key>
    <array>
      <string>K.salt</string>
      <string>Kcommaaccent.salt</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>fl.ss02</string>
    </array>
    <key>public.kern1.L.salt</key>
    <array>
      <string>L.salt</string>
      <string>Lacute.salt</string>
      <string>Lcaron.salt</string>
      <string>Lcommaaccent.salt</string>
      <string>Ldot.salt</string>
      <string>Lslash.salt</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern1.M.salt</key>
    <array>
      <string>M.salt</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.N.salt</key>
    <array>
      <string>N.salt</string>
      <string>Nacute.salt</string>
      <string>Ncaron.salt</string>
      <string>Ncommaaccent.salt</string>
      <string>Eng.salt</string>
      <string>Ntilde.salt</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>D.salt</string>
      <string>Eth.salt</string>
      <string>Dcaron.salt</string>
      <string>Dcroat.salt</string>
    </array>
    <key>public.kern1.O.salt</key>
    <array>
      <string>O.salt</string>
      <string>Oacute.salt</string>
      <string>Ocircumflex.salt</string>
      <string>Odieresis.salt</string>
      <string>Ograve.salt</string>
      <string>Ohungarumlaut.salt</string>
      <string>Omacron.salt</string>
      <string>Oslash.salt</string>
      <string>Otilde.salt</string>
      <string>Q.salt</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>P.salt</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.R.salt</key>
    <array>
      <string>R.salt</string>
      <string>Racute.salt</string>
      <string>Rcaron.salt</string>
      <string>Rcommaaccent.salt</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>germandbls.ss02</string>
    </array>
    <key>public.kern1.S.salt</key>
    <array>
      <string>S.salt</string>
      <string>Sacute.salt</string>
      <string>Scaron.salt</string>
      <string>Scedilla.salt</string>
      <string>Scommaaccent.salt</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>T.salt</string>
      <string>Tbar.salt</string>
      <string>Tcaron.salt</string>
      <string>Tcedilla.salt</string>
      <string>Tcommaaccent.salt</string>
    </array>
    <key>public.kern1.Thorn</key>
    <array>
      <string>Thorn</string>
      <string>Thorn.salt</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern1.U.salt</key>
    <array>
      <string>U.salt</string>
      <string>Uacute.salt</string>
      <string>Ucircumflex.salt</string>
      <string>Udieresis.salt</string>
      <string>Ugrave.salt</string>
      <string>Uhungarumlaut.salt</string>
      <string>Umacron.salt</string>
      <string>Uogonek.salt</string>
      <string>Uring.salt</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.V.salt</key>
    <array>
      <string>V.salt</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.W.salt</key>
    <array>
      <string>W.salt</string>
      <string>Wacute.salt</string>
      <string>Wcircumflex.salt</string>
      <string>Wdieresis.salt</string>
      <string>Wgrave.salt</string>
      <string>W.salt.alt1</string>
      <string>Wacute.salt.alt1</string>
      <string>Wcircumflex.salt.alt1</string>
      <string>Wdieresis.salt.alt1</string>
      <string>Wgrave.salt.alt1</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.X.salt</key>
    <array>
      <string>X.salt</string>
      <string>X.salt.alt1</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern1.Y.salt</key>
    <array>
      <string>Y.salt</string>
      <string>Yacute.salt</string>
      <string>Ycircumflex.salt</string>
      <string>Ydieresis.salt</string>
      <string>Ygrave.salt</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.Z.salt</key>
    <array>
      <string>Z.salt</string>
      <string>Zacute.salt</string>
      <string>Zcaron.salt</string>
      <string>Zdotaccent.salt</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>oe</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>eight</string>
      <string>eight.salt</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern1.five.salt</key>
    <array>
      <string>five.salt</string>
    </array>
    <key>public.kern1.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern1.four.salt</key>
    <array>
      <string>four.salt</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
      <string>guillemotleft.salt</string>
      <string>guilsinglleft.salt</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
      <string>guillemotright.salt</string>
      <string>guilsinglright.salt</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>j</string>
      <string>fi</string>
      <string>pi</string>
      <string>i.locl</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>fl</string>
    </array>
    <key>public.kern1.m</key>
    <array>
      <string>m</string>
      <string>mu</string>
      <string>micro</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern1.nine.salt</key>
    <array>
      <string>nine.salt</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>q</string>
    </array>
    <key>public.kern1.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern1.one.salt</key>
    <array>
      <string>one.salt</string>
    </array>
    <key>public.kern1.p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>divide</string>
      <string>minus</string>
      <string>plus</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>germandbls</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.seven.salt</key>
    <array>
      <string>seven.salt</string>
    </array>
    <key>public.kern1.six</key>
    <array>
      <string>six</string>
      <string>six.salt</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern1.thorn</key>
    <array>
      <string>thorn</string>
    </array>
    <key>public.kern1.three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern1.three.salt</key>
    <array>
      <string>three.salt</string>
    </array>
    <key>public.kern1.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern1.two.salt</key>
    <array>
      <string>two.salt</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
    </array>
    <key>public.kern1.zero.salt</key>
    <array>
      <string>zero.salt</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
    </array>
    <key>public.kern2.A.salt</key>
    <array>
      <string>Aacute.salt</string>
      <string>Abreve.salt</string>
      <string>Acircumflex.salt</string>
      <string>Adieresis.salt</string>
      <string>Agrave.salt</string>
      <string>Amacron.salt</string>
      <string>Aogonek.salt</string>
      <string>Aring.salt</string>
      <string>Atilde.salt</string>
      <string>A.salt</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE.salt.alt1</string>
    </array>
    <key>public.kern2.AE.salt</key>
    <array>
      <string>AE.salt</string>
    </array>
    <key>public.kern2.B.salt</key>
    <array>
      <string>B.salt</string>
    </array>
    <key>public.kern2.D.salt</key>
    <array>
      <string>D.salt</string>
    </array>
    <key>public.kern2.Delta</key>
    <array>
      <string>Delta</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>H</string>
      <string>Hbar</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>N</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>fi.ss02</string>
      <string>fl.ss02</string>
    </array>
    <key>public.kern2.H.salt</key>
    <array>
      <string>Dcaron.salt</string>
      <string>Dcroat.salt</string>
      <string>E.salt</string>
      <string>Eacute.salt</string>
      <string>Ecaron.salt</string>
      <string>Ecircumflex.salt</string>
      <string>Edieresis.salt</string>
      <string>Edotaccent.salt</string>
      <string>Egrave.salt</string>
      <string>Emacron.salt</string>
      <string>Eogonek.salt</string>
      <string>F.salt</string>
      <string>H.salt</string>
      <string>Hbar.salt</string>
      <string>K.salt</string>
      <string>Kcommaaccent.salt</string>
      <string>L.salt</string>
      <string>Lacute.salt</string>
      <string>Lcaron.salt</string>
      <string>Lcommaaccent.salt</string>
      <string>Ldot.salt</string>
      <string>Lslash.salt</string>
      <string>N.salt</string>
      <string>P.salt</string>
      <string>Thorn.salt</string>
      <string>R.salt</string>
      <string>Racute.salt</string>
      <string>Rcaron.salt</string>
      <string>Rcommaaccent.salt</string>
    </array>
    <key>public.kern2.I.salt</key>
    <array>
      <string>I.salt</string>
      <string>IJ.salt</string>
      <string>Iacute.salt</string>
      <string>Icircumflex.salt</string>
      <string>Idieresis.salt</string>
      <string>Idotaccent.salt</string>
      <string>Igrave.salt</string>
      <string>Imacron.salt</string>
      <string>Iogonek.salt</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.J.salt</key>
    <array>
      <string>J.salt</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern2.M.salt</key>
    <array>
      <string>M.salt</string>
    </array>
    <key>public.kern2.N</key>
    <array>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern2.N.salt</key>
    <array>
      <string>Nacute.salt</string>
      <string>Ncaron.salt</string>
      <string>Ncommaaccent.salt</string>
      <string>Eng.salt</string>
      <string>Ntilde.salt</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>C.salt</string>
      <string>Cacute.salt</string>
      <string>Ccaron.salt</string>
      <string>Ccedilla.salt</string>
      <string>Cdotaccent.salt</string>
      <string>G.salt</string>
      <string>Gbreve.salt</string>
      <string>Gcommaaccent.salt</string>
      <string>Gdotaccent.salt</string>
    </array>
    <key>public.kern2.O.salt</key>
    <array>
      <string>O.salt</string>
      <string>Oacute.salt</string>
      <string>Ocircumflex.salt</string>
      <string>Odieresis.salt</string>
      <string>Ograve.salt</string>
      <string>Ohungarumlaut.salt</string>
      <string>Omacron.salt</string>
      <string>Oslash.salt</string>
      <string>Otilde.salt</string>
      <string>OE.salt</string>
      <string>Q.salt</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>germandbls.ss02</string>
    </array>
    <key>public.kern2.S.salt</key>
    <array>
      <string>S.salt</string>
      <string>Sacute.salt</string>
      <string>Scaron.salt</string>
      <string>Scedilla.salt</string>
      <string>Scommaaccent.salt</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
    </array>
    <key>public.kern2.T.salt</key>
    <array>
      <string>T.salt</string>
      <string>Tbar.salt</string>
      <string>Tcaron.salt</string>
      <string>Tcedilla.salt</string>
      <string>Tcommaaccent.salt</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>U.salt</string>
      <string>Uacute.salt</string>
      <string>Ucircumflex.salt</string>
      <string>Udieresis.salt</string>
      <string>Ugrave.salt</string>
      <string>Uhungarumlaut.salt</string>
      <string>Umacron.salt</string>
      <string>Uogonek.salt</string>
      <string>Uring.salt</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>V.salt</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>W.salt.alt1</string>
      <string>Wacute.salt.alt1</string>
      <string>Wcircumflex.salt.alt1</string>
      <string>Wdieresis.salt.alt1</string>
      <string>Wgrave.salt.alt1</string>
    </array>
    <key>public.kern2.W.salt</key>
    <array>
      <string>W.salt</string>
      <string>Wacute.salt</string>
      <string>Wcircumflex.salt</string>
      <string>Wdieresis.salt</string>
      <string>Wgrave.salt</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
      <string>X.salt.alt1</string>
    </array>
    <key>public.kern2.X.salt</key>
    <array>
      <string>X.salt</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.Y.salt</key>
    <array>
      <string>Y.salt</string>
      <string>Yacute.salt</string>
      <string>Ycircumflex.salt</string>
      <string>Ydieresis.salt</string>
      <string>Ygrave.salt</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Z.salt</string>
      <string>Zacute.salt</string>
      <string>Zcaron.salt</string>
      <string>Zdotaccent.salt</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.eight</key>
    <array>
      <string>eight</string>
      <string>eight.salt</string>
    </array>
    <key>public.kern2.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern2.five.salt</key>
    <array>
      <string>five.salt</string>
    </array>
    <key>public.kern2.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern2.four.salt</key>
    <array>
      <string>four.salt</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
      <string>guillemotleft.salt</string>
      <string>guilsinglleft.salt</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
      <string>guillemotright.salt</string>
      <string>guilsinglright.salt</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>b</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>f</string>
      <string>h</string>
      <string>hbar</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>p</string>
      <string>thorn</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>fi</string>
      <string>fl</string>
      <string>pi</string>
      <string>i.locl</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>mu</string>
      <string>micro</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>ntilde</string>
    </array>
    <key>public.kern2.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern2.nine.salt</key>
    <array>
      <string>nine.salt</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
    </array>
    <key>public.kern2.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern2.one.salt</key>
    <array>
      <string>one.salt</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>divide</string>
      <string>minus</string>
      <string>plus</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>germandbls</string>
    </array>
    <key>public.kern2.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern2.seven.salt</key>
    <array>
      <string>seven.salt</string>
    </array>
    <key>public.kern2.six</key>
    <array>
      <string>six</string>
      <string>six.salt</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern2.three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern2.three.salt</key>
    <array>
      <string>three.salt</string>
    </array>
    <key>public.kern2.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern2.two.salt</key>
    <array>
      <string>two.salt</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
    </array>
    <key>public.kern2.zero.salt</key>
    <array>
      <string>zero.salt</string>
    </array>
  </dict>
</plist>
