<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Bold Mar 19 12, 21:22</string>
      <string>glyphs.B_old M_ar 19 12, 21_22</string>
    </array>
    <array>
      <string>Bold Mar 19 12, 21:20</string>
      <string>glyphs.B_old M_ar 19 12, 21_20</string>
    </array>
  </array>
</plist>
