<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F1AE8F3A-E9F0-4571-9555-74E057BBE490</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
