<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C98A9D8D-5634-4309-9A7A-F5EBDAE21363</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
